@font-face {
    font-family: "LFT Etica";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/LFT_Etica_Reg.eot");
    src: url("../fonts/LFT_Etica_Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/LFT_Etica_Reg.woff") format("woff"), url("../fonts/LFT_Etica_Reg.ttf") format("truetype")
}

@font-face {
    font-family: "LFT Etica";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/LFT_Etica_Semibold.eot");
    src: url("../fonts/LFT_Etica_Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/LFT_Etica_Semibold.woff") format("woff"), url("../fonts/LFT_Etica_Semibold.ttf") format("truetype")
}

body {
    background-color: #f5f5f5;
    color: #444f55;
    font-family: "LFT Etica","Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 20px;
    font-size: 15px;
    overflow-x: hidden;
}

.navbar-brand {
    padding-left: 40px;
}

#map {
    height: 600px;
    width: 100%;
    border: 1px solid darkgray;
}

.bridge-form-header {
    border-bottom: 1px solid darkgray;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.loader {
    background-image: url('../images/loader.gif');
    height: 16px;
    width: 16px;
    float: right;
    margin-right: 30px;
    margin-top: 16px;
}

.btn, .dropdown-menu, .form-control, .input-group-addon, .pagination, .pagination>li:last-child>a, .pagination>li:first-child>a {
    border-radius: 0;
}

.form-control:focus {
    border-color: #ff9600;
}

.map-loader {
    position:relative;
    width:100%;
    height:100%;
    background-color:rgba(255,255,255,0.5);
    left:0;
    top:0;
    z-index:2;
}

